[user]
  name = Michael Heap
  email = m@michaelheap.com

[alias]
  co = checkout
  count   = !git shortlog -sn
  lg = !git log --graph --pretty=oneline --abbrev-commit --decorate

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[core]
  excludesfile = ~/.gitignore
  editor = vim
  pager = less -r

[apply]
  whitespace = nowarn

[help]
  autocorrect = 1

[url "git@github.com:mheap/"]
  insteadOf = "git://github.com/mheap/"

[remote "origin"]
  fetch = +refs/pull/*/head:refs/remotes/origin/pr/*

