Interface name {{item.interface_name}}
IPSec gateway {{item.server}}
IPSec ID {{item.group_name}}
IPSec secret {{item.group_secret}}
Xauth username {{item.username}}
Xauth password {{item.password}}
Pidfile /var/run/vpnc/{{item.name}}.pid
Local Port 0
